body {
    background-color: black;
    padding-left: 5%;
}
body.frontpage {
    background-image: url("laterne01.jpg");
    background-size: 100%;
    background-position-y: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    padding-top: 5%;
    color: #f4ba66;
    font-family: Arial, sans-serif;
    font-size: 3vh;
}

main {
    color: #fffcd4;
    font-family: Arial, sans-serif;
    padding: 5% 0;
    font-size: 2vh;
    width: 40%;
}

/* not visited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

main pre {
    font-family: Arial, sans-serif;
}

div.songs h2 {
    padding-top: 7vh;
}


img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 80%;
    max-width: 80%;
}
