/* allgemeines zur Schriftart */
body {
    background-color: black;
    background-image: url("laterne01.jpg");
    background-size: 100%;
    background-position-y: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-left: 5%;
}

header {
    padding-top: 5%;
    color: #f4ba66;
    font-family: Arial, sans-serif;
    font-size: 3vh;
}

main {
    color: #fffcd4;
    font-family: Arial, sans-serif;
    padding: 5% 0;
    font-size: 2vh;
    width: 40%;
}



img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 80%;
    max-width: 80%;
}
